Assignment/hotelbooking/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="hotelbookingSOAP" service="hotel" wsdlLocation="HotelBooking_SOAPService.wsdl"/>
	<flow name="api-main">
        <http:listener path="/hotel/hotelbookingSOAP" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="getAllHotels:\soapkit-config">
		<flow-ref doc:name="getlistofallhotels" doc:id="98662881-e017-4563-b7ef-fcc441013d46" name="GetListOfAllHotels"/>
    </flow>
    <flow name="getHotelsByName:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [getHotelsByName:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getHotelsById:\soapkit-config">
		<flow-ref doc:name="gethotelsbyid" doc:id="c2b83301-c84f-44a9-8357-7d437a9c325f" name="GetHotelsByID"/>
    </flow>
    <flow name="addCustHotelBooking:\soapkit-config">
		<flow-ref doc:name="createcustbooking" doc:id="e01ed4db-ea70-4499-9447-13f111cc8758" name="CreateCustBooking"/>
    </flow>
    <flow name="deleteHotelBooking:\soapkit-config">
		<flow-ref doc:name="cancelhotelbooking" doc:id="ea4ff6ea-8795-4f07-99e0-00176aa7f26b" name="CancelHotelBooking"/>
    </flow>
</mule>
